---
services:
  uptime_kuma:
    container_name: uptime_kuma
    image: louislam/uptime-kuma:2
    depends_on:
      - uptime_kuma_db
    volumes:
      - ./uptime-kuma/data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 127.0.0.1:3001:3001
    restart: always
  uptime_kuma_db:
    container_name: uptime_kuma_db
    image: mariadb:latest
    volumes:
      - ./uptime-kuma/db:/var/lib/mysql:Z
    environment:
      MARIADB_USER: uptime_kuma
      MARIADB_DATABASE: uptime_kuma
    restart: always

  protonmail_bridge:
    container_name: protonmail_bridge
    image: shenxn/protonmail-bridge:build
    ports:
      - 100.100.1.12:1025:25/tcp
      - 100.100.1.12:1143:143/tcp
    volumes:
      - ./protonmail:/root
    restart: always

  searxng:
    image: ghcr.io/privau/searxng:latest
    container_name: searxng
    environment:
      - BASE_URL=https://searx.dr460nf1r3.org
      - CONTACT=root@dr460nf1r3.org
      - DONATION_URL=https://github.com/dr460nf1r3
      - IMAGE_PROXY=true
      - LIMITER=true
      - NAME=Dragon's Searx
      - REDIS_URL=redis://searxng-redis:6379/0
      - TZ=Europe/Berlin
    ports:
      - 127.0.0.1:8080:8080
    restart: always
  searxng-redis:
    image: redis:alpine
    container_name: searxng-redis
    restart: always

  github_runner:
    image: myoung34/github-runner:latest
    container_name: github_runner
    privileged: true
    environment:
      ACCESS_TOKEN: ${ACCESS_TOKEN:-?err}
      EPHEMERAL: true
      LABELS: dragon_builder,self-hosted,Linux,x64
      RUNNER_NAME: dragon_builder
      RUNNER_SCOPE: repo
      REPO_URL: https://github.com/dr460nf1r3/wandel-panel
      RUNNER_WORKDIR: /var/cache/github-runner/work
    volumes:
      [
        "/var/cache/github-runner/work:/var/cache/github-runner/work",
        "/var/run/docker.sock:/var/run/docker.sock",
      ]
    restart: "always"

  gitlab-runner:
    image: gitlab/gitlab-runner:alpine
    container_name: gitlab-runner
    volumes:
      - /etc/gitlab-runner/no-dind:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock
    restart: "always"

  gitlab-runner-dind:
    image: gitlab/gitlab-runner:alpine
    container_name: gitlab-runner-dind
    volumes:
      - /etc/gitlab-runner/dind:/etc/gitlab-runner
      - /var/run/docker.sock:/var/run/docker.sock
    restart: "always"
