version: "3"

networks:
  rustdesk-net:
    external: false

services:
  # RustDesk server related containers - Tailscale net only
  hbbs:
    image: rustdesk/rustdesk-server:latest-arm64v8
    container_name: rustdesk_hbbs
    ports:
      - 21115:21115
      - 21116:21116
      - 21116:21116/udp
      - 21118:21118
    command: hbbs
    environment:
      ENCRYPTED_ONLY: 1
      RELAY_SERVERS: "100.86.102.115:21117"
    volumes:
      - ./rustdesk:/root
    networks:
      - rustdesk-net
    depends_on:
      - hbbr
    restart: unless-stopped

  hbbr:
    image: rustdesk/rustdesk-server:latest-arm64v8
    container_name: rustdesk_hbbr
    ports:
      - 21117:21117
      - 21119:21119
    environment:
      ENCRYPTED_ONLY: 1
      RELAY_SERVERS: "100.86.102.115:21117"
    command: hbbr
    volumes:
      - ./rustdesk:/root
    networks:
      - rustdesk-net
    restart: unless-stopped

  # Automatic container updates
  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: hhbr hhbs kasm watchtower