name: "Build images"

on:
  pull_request_target:
    types: [labeled]
  push:
    branches:
      - main
  workflow_run:
    workflows: ["Periodic flake bump"]
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build_images:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Run GH actions cleanup
        run: sudo rm -rf /usr/share /usr/local /opt || true # https://github.com/easimon/maximize-build-space

      - uses: cachix/install-nix-action@v22
        with:
          extra_nix_config: | 
            accept-flake-config = true
            allowUnsupportedSystem = true
            system-features = big-parallel kvm
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable

      - run: bash ./ci/build_images.sh

      - name: Upload created images
        uses: actions/upload-artifact@v3
        with:
          name: dr460nized-live.iso
          path: ./result