name: Build images

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Run nix flake check"]
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build_iso:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: cachix/install-nix-action@v22
        with:
          extra_nix_config: |
            accept-flake-config = true
            system-features = big-parallel kvm
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v12
        with:
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          extraPullNames: chaotic-nyx
          name: dr460nf1r3
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"

      - name: Build ISO
        run: nix build -L ".#iso" --impure
        env:
          NIXPKGS_ALLOW_UNFREE: 1

      - name: Upload ISO
        uses: actions/upload-artifact@v3
        with:
          name: Dr460nixed ISO
          path: "result/iso/*.iso"
