name: "Build x86"

on:
  pull_request_target:
    types: [labeled]
  push:
    branches:
      - main
  workflow_run:
    workflows: ["Periodic flake bump"]
    types:
      - completed

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  build-cachix-x86:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: cachix/install-nix-action@v22
        with:
          extra_nix_config: "system-features = big-parallel kvm\naccept-flake-config = true"
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v12
        with:
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
          extraPullNames: chaotic-nyx
          name: dr460nf1r3
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"

      - run: echo $GARUDA_JSON > ./garuda-managed.json && git add ./garuda-managed.json -f

      - run: bash ./ci/push_to_cachix.sh