---
name: Periodic flake bump
on:
  schedule:
    - cron: 0 0,12 * * *
  workflow_dispatch:
permissions:
  contents: write
jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - name: Install Nix
        uses: cachix/install-nix-action@6a9a9e84a173d90b3ffb42c5ddaf9ea033fad011  # v23
        with:
          extra_nix_config: accept-flake-config = true
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac  # v4
      - name: Update nixpkgs flake
        run: nix flake update || exit 1; git diff --exit-code flake.lock && exit 1
          || exit 0
        continue-on-error: true
        id: bump
      - name: Commit nixpkgs bump
        if: steps.bump.outcome == 'success'
        run: |-
          set -e
          git config --global user.name 'Chaotic-Temeraire'
          git config --global user.email 'actions@chaotic.cx'
          git remote set-url origin https://x-access-token:${{ secrets.PAT_CHAOTIC }}@github.com/${{ github.repository }}
          git add flake.lock
          git commit -m "flake.nix: bump inputs to $(date +%Y%m%d)"
          git push
